.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;
  background: rgb(245, 245, 245);
}
.projects__title {
  font-size: 45px;
  font-weight: 600;
  color: #0773ca;
}
.projects__contents {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__Img {
  width: 40vw;
  height: auto;
  border-radius: 10px;
}
.projects__contentImg {
  width: 33px;
  height: auto;
}
.projects__icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}
.projects__contents a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.75);
  margin: 3px;
}
.projects__contents p {
  margin: 3px;
}
.projects__content {
  flex: 1;
}

.projects__box {
  margin: 25px auto;
  flex: 1;
}

.projects__buttons {
  max-width: 260px;
  margin-top: 10px;
}
.projects__button {
  background: #0773ca;
  color: white;
  border-style: none;
  cursor: pointer;
  align-items: center;
  width: 130px;
  height: 40px;
}
.projects__button__invalid {
  background: rgb(230, 230, 230);
  color: rgb(180, 180, 180);
  border-style: none;
  cursor: pointer;
  align-items: center;
  width: 130px;
  height: 40px;
}
.projects__button__invalid:hover {
  color: white;
  background: #0773ca;
  transition: all 0.3s;
}

.projects__names {
  display: flex;
  margin-bottom: 10px;
}
.projects__name {
  font-size: 28px;
  color: #0773ca;
}
.projects__date {
  display: flex;
  align-items: center;
}
.projects__Stacks {
  display: flex;
  color: rgb(0, 0, 0, 0.75);
  align-items: center;
}
.projects__url {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .projects__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects__contents {
    flex-direction: column;
    align-items: center;
  }
  .projects__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects__buttons {
    margin-bottom: 25px;
  }
  .project__Img {
    width: 50vw;
  }
}
