.projects {
  height: 100%;
  padding: 10vw;
  background-color: #e0e0e0;
  overflow: hidden;
}

.projects__title {
  font-size: 45px;
  font-weight: 600;
}

.projects__contents {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__contents img {
  width: 40vw;
  height: auto;
  border-radius: 10px;
}
.projects__contents a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.75);
}
.projects__content {
  flex: 1;
}

.projects__box {
  margin: 25px auto;
}

.projects__buttons {
  max-width: 240px;
  margin-top: 10px;
}
.projects__button {
  background: black;
  color: white;
  border-style: none;
  cursor: pointer;
  align-items: center;
  width: 120px;
  height: 35px;
}
.projects__button__invalid {
  background: gray;
  color: rgb(209, 209, 209);
  border-style: none;
  cursor: pointer;
  align-items: center;
  width: 120px;
  height: 35px;
}

.projects__content img {
  width: 50px;
  height: auto;
}
.projects__names {
  display: flex;
}
.projects__name {
  font-size: 30px;
}
.projects__date {
  display: flex;
}
.projects__Stacks {
  display: flex;
  color: rgb(0, 0, 0, 0.75);
}
.projects__url {
  display: flex;
  align-items: center;
}
