.stack {
  padding: 0 10vw;
}

.stack__list {
  display: flex;
  justify-content: space-between;
}

.stack__title {
  font-size: 25px;
  padding: 20px;
}
.stack__most,
.stack__last {
  padding: 15px;
}
.stack__mostBox,
.stack__lastBox {
  position: relative;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
}
.stack__mostBoxTitle,
.stack__lastBoxTitle {
  font-size: 18px;
  background-color: white;
  position: absolute;
  top: -10px;
  left: 20px;
  margin: 0;
}

.stack__list img {
  width: 50px;
  height: 50px;
}
