body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button,
html [type="button"] {
  -webkit-appearance: none;
}
* {
  -webkit-text-size-adjust: none;
}
